*.log
*.jou
*.str
*.backup.*
*.wdb
*.pb
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/
*.webtalk/
.Xil/
workspace/.metadata/
workspace/.Xil/
workspace/**/Debug/
workspace/**/Release/
workspace/**/*.o
workspace/**/*.elf
workspace/**/*.bin
workspace/**/*.map
workspace/**/*.log
workspace/**/*.jou
workspace/**/*.str
.vscode/
*.tmp
*.bak
*.orig
*~
*.wcfg
*.bit
*.dcp
*.xsa
*.m*
